*{
  box-sizing: border-box;
}

.container-fluid {
  height:90vh;
  background-image: url(/img/bg-draw.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

